---
import { getCollection, getEntry, type CollectionEntry } from 'astro:content';
import FormattedDate from '../components/FormattedDate.astro';
import BaseLayout from './BaseLayout.astro';

type Props = CollectionEntry<'tags'>['data'];

const { id, name, description, count } = Astro.props;

// Get blog posts with the current category
const posts = await getCollection('posts', (post) => post.data.tags.find((tag) => tag.id == id));
---

<BaseLayout title={name} description={description}>
	<main>
		<article>
			<div class="prose">
				<div class="title">
					<h1>{name}</h1>
					<p>{count} post{count !== 1 && 's'} tagged {name}</p>
					<hr />
				</div>
				<ul>
					{
						posts.map(async (post) => {
							const heroImage =
								post.data.featured_media && (await getEntry(post.data.featured_media));
							return (
								<li>
									<a href={`/blog/${post.data.slug}/`}>
										{heroImage && (
											<img width={720} height={360} src={heroImage?.data.source_url} alt="" />
										)}
										<h4 class="title" set:html={post.data.title.rendered} />
									</a>
									<p class="date">
										<FormattedDate date={post.data.date} />
									</p>
								</li>
							);
						})
					}
				</ul>
				<hr />
			</div>
		</article>
	</main>
</BaseLayout>

<style>
	main {
		width: 960px;
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 2rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(50% - 1rem);
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li:first-child {
		width: 100%;
		margin-bottom: 1rem;
		text-align: center;
	}
	ul li:first-child img {
		width: 100%;
	}
	ul li:first-child .title {
		font-size: 2.369rem;
	}
	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
		aspect-ratio: 2;
		object-fit: cover;
	}
	ul li a {
		display: block;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}
	ul li a:hover h4,
	ul li a:hover .date {
		color: rgb(var(--accent));
	}
	ul a:hover img {
		box-shadow: var(--box-shadow);
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
</style>
